.blog-summary {
  border-radius: $regular-border-radius;
  padding: 0.5rem;

  p {
    color: $on-background-secondary;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  h3 {
    margin: 0.2rem 0;
    color: $on-background;
    text-decoration: none;
  }

  .date {
    color: $on-background-secondary;
  }

  // &:hover {
  //   background-color: $hover;
  // }
}

.search-container {
  margin: 0.5rem 0;
}

.search {
  padding: 0.5rem;
  border: 2px solid $form-border;
  border-radius: $regular-border-radius;
}

.blog-tags {
  display: flex;
}

.blog-tag {
  background-color: $inline-tag-color;
  color: $on-secondary;
  border-radius: $regular-border-radius;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.blog-title {
  color: $on-background;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.tag-selector {
  background-color: $tag-color;
  color: $on-secondary;

  border-radius: $regular-border-radius;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem 0.8rem 0.5rem 0;
  font-size: 0.85rem;
  box-shadow: none;

  &:hover {
    opacity: 0.8;
  }
}

.blog-tags-panel {
  display: flex;
  flex-wrap: wrap;

  .active {
    background-color: $selected-tag;
  }
}
