.blog-content {
  margin-top: 1rem;
}

.date {
  margin: 0.5rem 0;
}

.blog-title {
  margin: 0.5rem 0;
}

.post-navigator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

blockquote p {
  font-style: italic;
  color: #999;
}
