.form-container {
  border-radius: $form-border-radius;
  background-color: $container-background;
  padding: 20px;
  border: 2px solid $form-border;

  .response-panel {
    margin: auto;
    display: block;
    text-align: center;
  }

  button {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid $form-border;
    border-radius: $button-border-radius;
    padding: 12px 20px;
    color: $text-main;
    background-color: $background;
    cursor: pointer;

    &:hover, &:active{
      background: $hover-01;
    }
  }
}

.contact-form {
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid $form-border;
    border-radius: $form-border-radius;
    margin: 8px 0;
  }

  input[type="reset"] {
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    border-radius: $form-border-radius;
    padding: 12px 20px;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid $form-border;
    border-radius: $form-border-radius;
    background-color: $text-area-background;
  }
}
