.form-container {
  border-radius: $regular-border-radius;
  background-color: $container-background;
  padding: 20px;
  border: 2px solid $form-border;

  .response-panel {
    margin: auto;
    display: block;
    text-align: center;
  }

  button {
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 2px solid $form-border;
    border-radius: $button-border-radius;
    padding: 12px 20px;
    color: $text-main;
    background-color: $background;

    &:enabled {
      cursor: pointer;

      &:hover,
      &:active {
        background: $hover-01;
        opacity: 0.9;
      }
    }
  }

  :disabled {
    opacity: 0.4;
  }
}

.recaptcha-wrapper {
  text-align: center;
  transform: scale(0.8);
  transform-origin: 0 0;
  -webkit-transform: scale(0.8);
  -webkit-transform-origin: 0 0;
}

.contact-form {
  margin-bottom: 0;

  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid $form-border;
    border-radius: $regular-border-radius;
    margin: 8px 0;
  }

  input[type="reset"] {
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    border-radius: $regular-border-radius;
    padding: 12px 20px;
    margin: 8px 0;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid $form-border;
    border-radius: $regular-border-radius;
    background-color: $text-area-background;
    margin: 8px 0;
  }
}

@include small-breakpoint {
  .recaptcha-wrapper {
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .form-container {
    margin-bottom: 20px;
  }
}
