html {
  background-color: $background;
}

body {
  font-size: 1rem;
}

#main-content {
  margin-top: 30px;
  padding: 10px 0 0 0;
}

.date {
  color: $text-secondary;
}

.container {
  h1,
  h2 {
    margin: 1rem 0;
  }

  img {
    display: block;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
  }
}

footer {
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}

.build-info {
  padding: 0.5rem;
}

.footer-links {
  padding: 0.5rem;
}

@include small-breakpoint {
  #main-content {
    margin-top: 50px;
    padding: 20px 0 0 0;
    min-height: calc(100vh - 219px);
  }

  .container {
    img {
      width: 50%;
    }
  }

  .footer {
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0 0 0;
  }
}
