.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background;
  z-index: 3;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    height: 60px;
    padding: 0.2rem 0.4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      color: $text-main;
      margin: 0.2rem;
      padding: 0.5rem;
      font-size: 1rem;
      text-decoration: none;
      box-shadow: none;
      border-radius: 4px;
      line-height: 1.2;

      &:hover,
      &.active {
        background-color: $hover-02;
      }
    }
  }
}

@include small-breakpoint {
  .nav {
    .nav-container {
      height: 70px;
      padding: 0 2rem;
    }
    .links {
      a {
        font-size: 1.2rem;
        padding: 0.8rem;
      }
    }

    .home {
      a {
        font-size: 1.2rem;
      }
    }
  }
}
