.nav {
  background: $navbar-color;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .home {
    // color: $on-background;
  }

  .link {
    color: $on-background;
  }

  .theme-icon {
    height: 24px;
    width: 24px;
    margin-bottom: 0;
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    margin: 0 0 0 0.5rem;
    height: 100%;
  }
}

button.theme-switcher {
  display: flex;
  border: 0;
  margin: 0.2rem;
  padding: 0.5rem 0.5rem;
  background: transparent;
  align-items: center;

  &:hover,
  &.active {
    cursor: pointer;
  }
}

@include small-breakpoint {
  .nav {
    // .links {
    //   a {
    //     font-size: 1.2rem;
    //     padding: 0.8rem;
    //   }
    //   flex-direction: row;
    //   padding: 0.5rem;
    //   height: 100%;
    // }

    .home {
      a {
        // font-size: 1.2rem;
        // padding: 0.8rem;
      }
    }
  }
}
