.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background;
  z-index: 3;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    padding: 0 0.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .home {
    a {
      display: flex;
      align-items: center;
      color: $text-main;
      margin: 0.2rem;
      padding: 0.2rem;
      font-weight: 500;
      font-size: 1rem;
      text-decoration: none;
      box-shadow: none;
      border-radius: 4px;

      &:hover,
      &:focus {
        background-color: $hover-01;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 400;
      margin: 0.2rem;
      padding: 0.2rem;
      color: $text-main;
      line-height: 1.2;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      box-shadow: none;

      &:hover,
      &.active {
        background-color: $hover-01;
      }
    }
  }
}

@include small-breakpoint {
  .nav {
    .nav-container {
      height: 80px;
      padding: 0 2rem;
    }
    .links {
      a {
        font-size: 1.2rem;
        margin: 0.4rem;
        padding: 0.4rem;
      }
    }

    .brand {
      a {
        font-size: 1.2rem;
        margin: 0.4rem;
        padding: 0.4rem;
      }
    }
  }
}
