.darkTheme {
  background: $dark-background;
  color: $dark-on-background;

  html {
    background-color: $dark-background;
  }

  a {
    color: $dark-primary;
  }

  .footerLinks {
    color: $dark-on-background;
    opacity: 0.6;
  }

  h3,
  h2,
  h1 {
    color: $dark-on-background;
    opacity: 0.87;
  }

  p {
    color: $dark-on-background;
    opacity: 0.6;
  }
}