.darkTheme {
  background: $dark-background;
  color: $dark-on-background;

  html {
    background-color: $dark-background;
  }

  a {
    color: $dark-primary;
  }

  .footerLinks {
    color: $dark-on-background;
    opacity: 0.6;
  }

  h3,
  h2,
  h1 {
    color: $dark-on-background;
    opacity: 0.87;
  }

  p {
    color: $dark-on-background;
    opacity: 0.6;
  }

  .card {
    background-color: $dark-surface;
    border-color: black;
  }

  .nav {
    background: $dark-surface;

    &.scroll {
      background: lighten($dark-surface, 3%);
      border-color: lighten($dark-surface, 3%);
    }
  }

  .blog-content {
    blockquote {
      border: 1px solid $form-border;
      border-left: 4px solid $dark-primary;
      background-color: $dark-surface;
    }
  }

  .nav-container {
    .links,
    .home {
      a {
        color: $dark-on-background;
      }
    }
  }

  .date {
    color: $dark-on-background;
    opacity: 0.6;
  }

  .blog-summary {
    &:hover {
      background-color: $dark-surface;
    }
  }

  .search {
    background-color: $black;
    color: $dark-on-background;
    border: 2px solid $dark-grey;
  }

  .form-container {
    background-color: $dark-surface;
    border: 2px solid $black;

    button {
      background-color: $dark-primary;
      border: none;
      color: $dark-on-primary;

      &:enabled {
        cursor: pointer;
        &:hover,
        &:active {
          background-color: $dark-primary;
          opacity: 0.7;
        }
      }
    }
  }

  .contact-form {
    input[type="text"],
    input[type="email"],
    textarea {
      background-color: $dark-surface;
      border: 2px solid $black;
      color: $dark-on-background;
      opacity: 0.6;
    }
  }

  .blog-tag {
    background-color: $dark-primary;
  }

  .tag-selector {
    background-color: $dark-primary;
    color: $on-primary;
  }

  .blog-tags-panel {
    .active {
      background-color: lighten($dark-primary, 10%);
    }
  }
}
