.darkTheme {
  background: $dark-background;
  // color: $dark-on-background;

  html {
    background-color: $dark-background;
  }

  a {
    color: $dark-primary;
  }

  h1 {
    color: $dark-on-background;
  }

  p,
  .footerLinks {
    color: $dark-on-background;
    opacity: 0.6;
  }

  h3,
  h2 {
    color: $dark-on-background;
    opacity: 0.87;
  }

  .nav {
    background: $dark-surface;

    &.scroll {
      background: lighten($dark-surface, 3%);
      border-color: lighten($dark-surface, 3%);
    }

    .home {
      color: $dark-on-background;
    }

    .link {
      color: $dark-on-background;
    }
  }

  .date {
    color: $dark-on-background;
    opacity: 0.6;
  }

  .blog-summary {
    &:hover {
      background-color: $dark-surface;
    }
  }

  .search {
    background-color: $black;
    color: $dark-on-background;
    border: 2px solid $dark-grey;
  }

  .form-container {
    background-color: $dark-surface;
    border: 2px solid $black;

    button {
      background-color: $dark-primary;
      border: none;
      color: $dark-on-primary;

      &:enabled {
        cursor: pointer;
        &:hover,
        &:active {
          background-color: $dark-primary;
          opacity: 0.7;
        }
      }
    }
  }

  .contact-form {
    input[type="text"],
    input[type="email"],
    textarea {
      background-color: $dark-surface;
      border: 2px solid $black;
      color: $dark-on-background;
    }
  }

  .blog-tag {
    background-color: $dark-secondary;
  }

  .tag-selector {
    background-color: $dark-secondary;
    color: $on-primary;
  }

  .blog-tags-panel {
    .active {
      background-color: $dark-primary;
    }
  }
}
