.form-container {
  border-radius: 5px;
  background-color: $container-background;
  padding: 20px;
  border: 2px solid $subtle-border;
}

.contact-form {
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type="reset"] {
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 20px;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }

  button {
    width: 100%;
    border-radius: 4px;
    padding: 12px 20px;
    color: $text-02;
    background-color: $success;
    cursor: pointer;
  }
}
