/* Containers */

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

/* Breakpoints */

$mobile: 620px;
$tablet: $small;
$desktop: $medium;
$width: 850px;

/* Colors */

/* light */

$background: #fafafa;
$on-background: rgba(0, 0, 0, 0.87);
$on-background-secondary: rgba(0, 0, 0, 0.54);
$surface: #fafafa;

$primary: #ffffff;
$primary-variant: #3700b3;
$on-primary: #2d2d2d;

$secondary: #03dac6;
$secondary-variant: #018786;
$on-secondary: #000000;

$error: #b00020;
$on-error: #ffffff;

$code-block-color: #2d2d2d;
$inline-code-color: #f5f2f0;
$blockquote-color: #999;

$tag-color: #f2f2f2;
$inline-tag-color: lighten(#5183f5, 32%);
$on-inline-tag: lighten($on-background, 10%);
$selected-tag: #8f9bff;

$navbar-color: #5c4f4f;
$navbar-text: white;
$navbar-hover: #6200ee;

$text-area-background: #f8f8f8;

$hover: #f2f2f2;

/* dark */

$black: black;

$dark-background: rgb(19, 18, 23);
$dark-on-background: #ffffff;
$dark-surface: #1b191f;

$dark-grey: #b3b9c5;

$dark-primary: #bb86fc;
$dark-on-primary: #000000;

$dark-secondary: #03dac6;
$dark-on-secondary: #000000;

/* Borders */

$subtle-border: #e0e0e0;
$form-border: #ccc;

/* Misc */

$regular-border-radius: 4px;
$button-border-radius: 8px;
