/* Containers */

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

/* Breakpoints */

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 850px;

$background: #ffffff;
$container-background: #f4f4f4;

$hover-01: #e5e5e5;

$subtle-border: #e0e0e0;

$text-main: #161616;
$text-inverse: #ffffff;
$text-secondary: #007acc;

$form-border: #ccc;

$success: #24a148;
