/* Containers */

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

/* Breakpoints */

$mobile: 620px;
$tablet: $small;
$desktop: $medium;
$width: 850px;

/* Backgrounds */

$background: #ffffff;
$container-background: #f4f4f4;
$hover-01: #e5e5e5;
$hover-02: #f2f2f2;

$text-area-background: #f8f8f8;

/* Text */

$text-main: #161616;
$text-inverse: #ffffff;
$text-secondary: rgba(0, 0, 0, 0.4);

/* Borders */

$subtle-border: #e0e0e0;
$form-border: #ccc;

/* Misc */

$success: #24a148;

$regular-border-radius: 4px;
$button-border-radius: 8px;
